<h1><%= @article.title %></h1>

Written by: <%= User.find_by(id: @article.author_id).username %><br>
<% if logged_in? %>
  Logged in as <%= current_user.username %>
  <%= button_to "Logout", '/logout', method: :get%>
  <hr>
<% end %>
<p><%= @article.body %></p>

<% if @article.author_id == session[:user_id]%>
    <ul>
        <li><%= link_to "Edit", edit_article_path(@article) %></li>
        <li><%= link_to "Destroy", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
    </ul>
<%end%>
<%= button_to "Home", '/home', method: :get%>

<h2>Comments</h2>
<%= render @article.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>